<div class="jumbotron">
  <h1>艦これの何か</h1>
  <p class="lead">
    <img src="images/logo.png" alt="logo"><br />
    ブラック鎮守府ダメゼッタイ
  </p>
  <p>
    このソフトウェアは自己責任でご利用ください。<br />
    このソフトウェアを施与したことによる一切の損害について作者は責任を負わないこととします。<br />
    このソフトウェアの詳しい利用条件は<a href="https://github.com/windymelt/kancolleElectricEye/blob/master/LICENSE.MD">LICENSE.MD</a>を参照ください。<br />
    このソフトウェアを利用することにより、利用条件に同意したものとみなします。
  </p>
</div>

<article>
  <h2>Get involved</h2>
  このソフトウェアはGithubで開発しています。<a href="https://github.com/windymelt/kancolleElectricEye">Github上のレポジトリ</a>。
</article>
